$font-stack: Helvetica, sans-serif;
$green-color: rgb(91, 187, 36);
$orange-color: orange;
$primary-color: #0e0d27;
$comm-color: #b0edf5;
$btn-send-color: #958eff;

@mixin body {
  font: 100% $font-stack !important;
  background-color: $primary-color !important;
}

@mixin flex {
    display: flex;
}

@mixin column {
    flex-direction: column;
  }

@mixin button {
    background-color: $green-color !important;
    color: #fff !important;
    margin: auto;
}


@mixin card {
    margin: 20px;
    width: 100%;
}

  @mixin content {
    margin: 20px;
    padding: 10px;
}

@mixin form {
    width: 50%;
}

@mixin textfield{
    margin: 5px;
  }

@mixin footerLinks{
  display: flex;
  align-items: center;
}

@mixin forMain{
  margin-top: 20px;
}

@mixin comments{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 30%;
  border: 1px solid #8300a3;
  color: #8300a3;
}

@mixin liked{
  color: #d63d3d;
  content: '♥️';
  font-weight:bold;
  font-size: 35px;
  cursor: pointer;
}

@mixin notLiked{
  color: #ffffff;
  font-size: 35px;
  cursor: pointer;
}

@mixin commsAndLikes{
  display: flex;
  justify-content: space-between;
}

@mixin date{
  color: #8d8d8d;
  font-size: 15px;
  display: flex;
  text-align: right;
}

@mixin titleText{
  color:#fff;
  font-size: 30px;
  font-weight:bolder;
}

@mixin subtitleText{
  color:#fff;
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
}

@mixin name{
  color:#fff;
}

@mixin cardLogin{
  padding: 40px;
}

@mixin error{
  color:#fff;
  font-size: 25px;
}

@mixin textNewsPart{
  white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; /* с многоточием в конце */ 
}

@mixin textNewsAll{
  overflow-wrap: anywhere;
}

@mixin headerLogo{
  color: #ffff;
  text-decoration: none;
  font-size: 40px;
}

@mixin stickyColumn{
  position: sticky;
  top: 20%;
}