$font-stack: Helvetica, sans-serif;
$green-color: rgb(91, 187, 36);
$orange-color: orange;
//$primary-color: #faf86d;
$primary-color: #e9e77e;
$comm-color: #b0edf5;

@mixin body {
  font: 100% $font-stack !important;
  background-color: $primary-color !important;
  //background-image: url("~@/assets/fruits-pattern-concept.png") !important;
  //background-repeat: repeat !important;
  //background-size: 70% !important;
}

@mixin flex {
    display: flex;
}

@mixin column {
    flex-direction: column;
  }

@mixin button {
    background-color: $green-color !important;
    color: #fff !important;
    margin: auto;
}


@mixin card {
    color: #ffff98;
    margin: 20px;
    width: 100%;
}

  @mixin content {
    margin: 20px;
    padding: 10px;
}

@mixin form {
    width: 50%;
}

@mixin textfield{
    margin: 5px;
  }

@mixin footerLinks{
  display: flex;
  align-items: center;
}

@mixin forMain{
  margin-top: 20px;
}

@mixin comments{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 50%;
}

@mixin liked{
  background-image:url('../assets/liked.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  width:37px;
  height:27px;
}

@mixin notLiked{
  background-image:url('../assets/notLiked.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  width:37px;
  height:30px;
}

@mixin commsAndLikes{
  display: flex;
  justify-content: space-between;
}